<header class="header" role="banner">
  <div class="ctn">
    <div class="clearfix">

      <div class="header-logo">
        <a href="/"><img src="/img/logo.png" alt="Carlsbad International School"></a>
      </div>

      <nav class="header-nav">
        <a href="#about_us" class="header-nav_a">About Us</a>
        <a href="#carlsbad" class="header-nav_a">Carlsbad</a>
        <a href="#academics" class="header-nav_a">Academics</a>
        <a href="#summer_camp" class="header-nav_a">Summer Camp</a>
        <a href="#our_teachers" class="header-nav_a">Our Teachers</a>
        <a href="#contacts" class="header-nav_a">Contacts</a>
      </nav>

    </div>
  </div>
</header>